/* App.css */
@font-face {
  font-family: 'Wedding';
  src: url('./fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype'),
       url('./fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  /* Add more formats if needed */
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Wedding';
  /* margin-top: 1em; */
  margin-bottom: 1em;
  background-color: #ffeaa7;
  background-image: linear-gradient(315deg, #ffeaa7 0%, #000000 74%);
  /* Set body height to 100vh to take up the full viewport height */
  height: 100vh;
  width: 100%;
  overflow: hidden; /* Prevent default body scroll */
  
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  overflow: -moz-scrollbars-none; /* Hide scrollbar on Firefox */
  /*  Hide scrollbar for Chrome */
  ::-webkit-scrollbar {
    display: none;
  }
  
}

.App {
  text-align: center;
  width: 100%;
  /* border: 3px solid silver; */
  
  /* Remove flex properties that cause unnecessary overflow */
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; */
  overflow-y: scroll; /* Enable vertical scrolling */
  max-height: 100vh; /* Limit the maximum height to the viewport height */
  /* padding: 20px; Add some spacing to the sides */
}
