/* App.css */
@font-face {
  font-family: 'Wedding';
  src: url('./fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype'),
       url('./fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  /* Add more formats if needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EventHeader';
  src: url('./fonts/YsabeauInfant-Italic-VariableFont_wght.ttf') format('truetype'),
       url('./fonts/YsabeauInfant-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WeddingHeader';
  src: url('./fonts/PlantinInfantMTStd.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WeddingHeader4';
  src: url('./fonts/StyleScript-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Wedding';
  margin-bottom: 1em;
  background-color: #FAF0E6;
  background-image: url('./assets/omarmena.png');
  background-size: cover;
  background-position: center top; /* Adjust this line */
  opacity: 0.8; /* Adjust the opacity as needed */
  z-index: -1; /* Place it below the content */
  height: 100%;
  width: 100%;
  overflow: hidden; /* Prevent default body scroll */

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  overflow: -moz-scrollbars-none; /* Hide scrollbar on Firefox */
  /*  Hide scrollbar for Chrome */
  ::-webkit-scrollbar {
    display: none;
  }
  
}

.App {
  text-align: center;
  width: 100%;
  overflow-y: scroll; /* Enable vertical scrolling */
  overflow-x: hidden; /* Disable horizontal scrolling */
  max-height: 100vh; /* Limit the maximum height to the viewport height */
}
